
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  .header-container {
    .navbar-nav {
      z-index: 10;
      opacity: 0.6;
      .nav-link {
       &.active {
          color: red;
        }
      }
    }
    // .navbar-nav .nav-link.action {
    //   color: red;

    // }
  }
}
video {
  position: fixed;
  bottom: 0;
  
}
.homepage-video {
  max-width: 500px; /* hoặc kích thước bạn muốn */
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 32px rgba(0,0,0,0.08);
}
